{% extends "layout.html" %}

{% block content %}
    <h1>
        <img 
            src="{{ url_for('static', filename='/images/gmail.ico') }}"
            alt="gmail"
            width="128"
            height="128"
        >    
    </h1>
    <p>
        <a href="mailto:mrtomaino@gmail.com">mrtomaino@gmail.com</a>
    </p>
    <h1>LinkedIn</h1>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="michael-tomaino"><a class="LI-simple-link" href='https://www.linkedin.com/in/michael-tomaino?trk=profile-badge'>Michael Tomaino</a></div>

{% endblock content %}